@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111011;
    color: #F6F2EC;
}

* {
    -webkit-tap-highlight-color: transparent;
  }

  .gradient-text {
    background: linear-gradient(250deg, #111011, #FFD95A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-circle {
    position: fixed;
    top: -100px;  /* Adjust according to your needs */
    right: -100px;  /* Adjust according to your needs */
    width: 300px;
    height: 300px;
    z-index: 40;
    background: radial-gradient(circle, rgba(214, 132, 9, 0.2) 0%, rgba(196, 97, 4, 0) 60%);
    pointer-events: none;
  }